[submodule "src/roboclaw_hardware_interface"]
	path = src/roboclaw_hardware_interface
	url = https://github.com/dumbotics/roboclaw_hardware_interface.git
[submodule "src/roboclaw_serial"]
	path = src/roboclaw_serial
	url = https://github.com/dumbotics/roboclaw_serial.git
